body
{
  background-color: #ffab91;
}

.brand-logo
{
  font-family: "Pacifico", cursive;
}

#nav-mobile
{
  font-family: "Lato";
}

#nav-mobile a:link,
#nav-mobile a:visited,
#nav-mobile a:hover,
#nav-mobile a:active
{
  color: white;
  text-decoration: none;
}

#map
{
	width: 100%;
	height: 400px;
}

#card-wrapper 
{
  height: 100%;
  width: 100%;
  background-color: #ffab91;
}

.row 
{
  padding-top: 1%;
}

.card-title 
{
  font-family: "Pacifico", cursive;
}

.card p 
{
  font-family: "Lato";
}

#cardButton
{
  color: white;
}

a.bttn-dark 
{
  color: #2f343b;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; 
}

a.bttn-dark:hover 
{
  color: #eee; 
}

a.bttn-dark:focus 
{
  color: #eee; 
}

.bttn 
{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 125px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); 
}

.bttn:before 
{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -2; 
}

.bttn:hover:before 
{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; 
}

.bttn:focus:before 
{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; 
}

.bttn-dark 
{
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 125px;
  font-weight: bold;
  padding: 10px 0px;
  border: 3px solid #2f343b;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2; 
}

.bttn-dark:before 
{
  -webkit-transition: 0.7s all ease;
  transition: 0.7s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #2f343b;
  z-index: -1; 
}

.bttn-dark:hover:before 
{
    -webkit-transition: 0.7s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; 
}
